In [1]:
import re
import string
import pandas as pd
from functools import reduce
from math import log

In [2]:
#1
corpus = """
Simple example with Cats and Mouse
Another simple example with dogs and cats
Another simple example with mouse and cheese
""".split("\n")[1:-1]

In [4]:
#2
l_A = corpus[0].lower().split()
l_B = corpus[1].lower().split()
l_C = corpus[2].lower().split()

print(l_A)
print(l_B)
print(l_C)

['simple', 'example', 'with', 'cats', 'and', 'mouse']
['another', 'simple', 'example', 'with', 'dogs', 'and', 'cats']
['another', 'simple', 'example', 'with', 'mouse', 'and', 'cheese']

In [5]:
#3
word_set = set(l_A).union(set(l_B)).union(set(l_C))
print(word_set)

{'example', 'and', 'cheese', 'mouse', 'with', 'another', 'simple', 'cats', 'dogs'}

In [6]:
word_dict_A = dict.fromkeys(word_set, 0)
word_dict_B = dict.fromkeys(word_set, 0)
word_dict_C = dict.fromkeys(word_set, 0)

for word in l_A:
    word_dict_A[word] += 1

for word in l_B:
    word_dict_B[word] += 1

for word in l_C:
    word_dict_C[word] += 1

pd.DataFrame([word_dict_A, word_dict_B, word_dict_C])

   example  and  cheese  mouse  with  another  simple  cats  dogs
0        1    1       0      1     1        0       1     1     0
1        1    1       0      0     1        1       1     1     1
2        1    1       1      1     1        1       1     0     0

In [7]:
def compute_tf(word_dict, l):
    tf = {}
    sum_nk = len(l)
    for word, count in word_dict.items():
        tf[word] = count/sum_nk
    return tf

In [8]:
tf_A = compute_tf(word_dict_A, l_A)
tf_B = compute_tf(word_dict_B, l_B)
tf_C = compute_tf(word_dict_C, l_C)

In [9]:
def compute_idf(strings_list):
    n = len(strings_list)
    idf = dict.fromkeys(strings_list[0].keys(), 0)
    for l in strings_list:
        for word, count in l.items():
            if count > 0:
                idf[word] += 1
    
    for word, v in idf.items():
        idf[word] = log(n / float(v))
    return idf

In [10]:
idf = compute_idf([word_dict_A, word_dict_B, word_dict_C])

In [11]:
def compute_tf_idf(tf, idf):
    tf_idf = dict.fromkeys(tf.keys(), 0)
    for word, v in tf.items():
        tf_idf[word] = v * idf[word]
    return tf_idf

In [12]:
tf_idf_A = compute_tf_idf(tf_A, idf)
tf_idf_B = compute_tf_idf(tf_B, idf)
tf_idf_C = compute_tf_idf(tf_C, idf)

In [13]:
pd.DataFrame([tf_idf_A, tf_idf_B, tf_idf_C])

,example,and,cheese,mouse,with,another,simple,cats,dogs
0,0.0,0.0,0.000000,0.067578,0.0,0.000000,0.0,0.067578,0.000000
1,0.0,0.0,0.000000,0.000000,0.0,0.057924,0.0,0.057924,0.156945
2,0.0,0.0,0.156945,0.057924,0.0,0.057924,0.0,0.000000,0.000000